body {
    font-family: Helvetica;
    background-color: #e6e6e6;
}

h1 {
    font-family: Helvetica;
    color: #800000;
}

h2 {
    font-family: Helvetica;
    color: #b30000;    
}

p {
    margin: 20px;
}

p.debug {
    font-family: Inconsolata;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    border-radius: 5px;
    background-color: #bfbfbf;
    color: #333333;
    padding: 5px;
}
div.form {
    width: 300px;
    clear: both;
}
div.form input.field {
    width: 100%;
    clear: both;
}
div.form div.formField {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}